USE [QLBV]
GO
/****** Object:  User [NV001]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV001] FOR LOGIN [NHD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV0012]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV0012] FOR LOGIN [BVT] WITH DEFAULT_SCHEMA=[NV0012]
GO
/****** Object:  User [NV007]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV007] FOR LOGIN [NTD] WITH DEFAULT_SCHEMA=[NV007]
GO
/****** Object:  User [NV0080]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV0080] FOR LOGIN [NTT] WITH DEFAULT_SCHEMA=[NV0080]
GO
/****** Object:  User [NV013]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV013] FOR LOGIN [BN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV019]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV019] FOR LOGIN [NPN] WITH DEFAULT_SCHEMA=[NV019]
GO
/****** Object:  User [NV076]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV076] FOR LOGIN [BOSS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV079]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV079] FOR LOGIN [BS] WITH DEFAULT_SCHEMA=[NV079]
GO
/****** Object:  User [NV080]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE USER [NV080] FOR LOGIN [YT] WITH DEFAULT_SCHEMA=[NV080]
GO
/****** Object:  DatabaseRole [BacSi]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE ROLE [BacSi]
GO
/****** Object:  DatabaseRole [BenhVien]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE ROLE [BenhVien]
GO
/****** Object:  DatabaseRole [Boss]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE ROLE [Boss]
GO
/****** Object:  DatabaseRole [YTa]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE ROLE [YTa]
GO
ALTER ROLE [BenhVien] ADD MEMBER [NV001]
GO
ALTER ROLE [db_owner] ADD MEMBER [NV001]
GO
ALTER ROLE [BacSi] ADD MEMBER [NV0012]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV0012]
GO
ALTER ROLE [Boss] ADD MEMBER [NV007]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NV007]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NV007]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV007]
GO
ALTER ROLE [Boss] ADD MEMBER [NV0080]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NV0080]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NV0080]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV0080]
GO
ALTER ROLE [Boss] ADD MEMBER [NV013]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NV013]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NV013]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV013]
GO
ALTER ROLE [YTa] ADD MEMBER [NV019]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV019]
GO
ALTER ROLE [Boss] ADD MEMBER [NV076]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NV076]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NV076]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV076]
GO
ALTER ROLE [BacSi] ADD MEMBER [NV079]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV079]
GO
ALTER ROLE [YTa] ADD MEMBER [NV080]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NV080]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BacSi]
GO
ALTER ROLE [db_owner] ADD MEMBER [BenhVien]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Boss]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Boss]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Boss]
GO
ALTER ROLE [db_datareader] ADD MEMBER [YTa]
GO
/****** Object:  Schema [NV0012]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV0012]
GO
/****** Object:  Schema [NV007]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV007]
GO
/****** Object:  Schema [NV0080]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV0080]
GO
/****** Object:  Schema [NV019]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV019]
GO
/****** Object:  Schema [NV079]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV079]
GO
/****** Object:  Schema [NV080]    Script Date: 7/10/2023 1:50:02 PM ******/
CREATE SCHEMA [NV080]
GO
/****** Object:  UserDefinedFunction [dbo].[HAS_ACCOUNT]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HAS_ACCOUNT] (@MANV NCHAR(10))
RETURNS BIT
AS
BEGIN
	IF EXISTS(SELECT * FROM sys.sysusers WHERE name = @MANV)
		RETURN 1
	
	RETURN 0
END;
GO
/****** Object:  Table [dbo].[CHITIETO]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETO](
	[MABN] [nchar](10) NOT NULL,
	[MAGIUONG] [char](5) NOT NULL,
	[THOIGIANBATDAU] [datetime] NOT NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
 CONSTRAINT [PK_CHITIETO] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC,
	[MAGIUONG] ASC,
	[THOIGIANBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[NGAYSINH] [date] NULL,
	[LOAI] [nvarchar](10) NOT NULL,
	[MABSTD] [nchar](10) NULL,
	[MABSTN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PATIENT_NOT_REGISTER_LIVING_ROOM]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PATIENT_NOT_REGISTER_LIVING_ROOM]
AS
SELECT MABN, HO, TEN, NGAYSINH,LOAI FROM BENHNHAN
WHERE MABN NOT IN (SELECT MABN FROM CHITIETO WHERE THOIGIANKETTHUC IS NULL) AND LOAI = N'Nội trú'
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](75) NULL,
	[DIENTHOAI] [char](10) NOT NULL,
	[CCCD] [char](12) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_ALL_PATIENT]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[GET_ALL_PATIENT]
AS
SELECT MABN, HO, TEN, NGAYSINH,LOAI, BACSITHEODOI = (SELECT HO+' '+TEN FROM NHANVIEN WHERE MANV = MABSTD), BACSITEPNHAN = (SELECT HO +' '+TEN FROM NHANVIEN WHERE MANV = MABSTN)
FROM BENHNHAN
GO
/****** Object:  Table [dbo].[CHITIETCHUATRI]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUATRI](
	[ID_CTCT] [int] IDENTITY(1,1) NOT NULL,
	[MABS] [nchar](10) NULL,
	[MABN] [nchar](10) NOT NULL,
	[MALOAI_CT] [nchar](5) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[KETQUA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHITIETCHUATRI] PRIMARY KEY CLUSTERED 
(
	[ID_CTCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICHUATRI]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICHUATRI](
	[MALOAI_CT] [nchar](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAICHUATRI] PRIMARY KEY CLUSTERED 
(
	[MALOAI_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_ALL_DETAIL_CURE]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[GET_ALL_DETAIL_CURE]
AS
SELECT MABS,TENNV = (SELECT HO+' '+TEN FROM NHANVIEN WHERE MANV = CTCT.MABS), 
MABN,TENBN = (SELECT HO+' '+TEN FROM BENHNHAN WHERE MABN = CTCT.MABN),
TENLOAI = (SELECT TENLOAI FROM LOAICHUATRI WHERE MALOAI_CT = CTCT.MALOAI_CT),
THOIGIAN = FORMAT(THOIGIAN, 'dd/MM/yyyy hh:mm:ss'), KETQUA,MALOAI_CT,ID_CTCT
FROM CHITIETCHUATRI AS CTCT WITH (INDEX = IX_THOIGIANCHUATRI) 
GO
/****** Object:  Table [dbo].[BACSI]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSI](
	[MABS] [nchar](10) NOT NULL,
	[TRINHDO] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACSI] PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YTA]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YTA](
	[MAYT] [nchar](10) NOT NULL,
	[NGHIEPVU] [nvarchar](50) NULL,
 CONSTRAINT [PK_YTA] PRIMARY KEY CLUSTERED 
(
	[MAYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_STAFF]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GET_STAFF]
AS
SELECT MANV, HO,TEN,PHAI, TENCV = CASE
WHEN MANV IN (SELECT MABS FROM BACSI) THEN N'Bác sĩ'
WHEN MANV IN (SELECT MAYT FROM YTA) THEN N'Y tá'
ELSE N'Trống'
END
FROM NHANVIEN
GO
/****** Object:  Table [dbo].[KHUCHUATRI]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUCHUATRI](
	[DANHDINHKHU] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MAYT] [nchar](10) NULL,
 CONSTRAINT [PK_KHUCHUATRI] PRIMARY KEY CLUSTERED 
(
	[DANHDINHKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLAMVIECKHUCHUATRI]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI](
	[ID_CTLV] [int] IDENTITY(1,1) NOT NULL,
	[DANHDINHKHU] [int] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAYBATDAULAM] [date] NOT NULL,
	[NGAYKETTHUCLAM] [date] NULL,
 CONSTRAINT [PK_CHITIETLAMVIECKHUCHUATRI] PRIMARY KEY CLUSTERED 
(
	[ID_CTLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[WORKING_DETAIL]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WORKING_DETAIL]
AS
SELECT ID_CTLV, MANV,TENNV = (SELECT HO+' '+TEN FROM NHANVIEN WHERE CTLV.MANV = MANV),
		DANHDINHKHU,TENKHU = (SELECT TEN FROM KHUCHUATRI WHERE CTLV.DANHDINHKHU = DANHDINHKHU),
		NGAYBATDAULAMM =FORMAT(NGAYBATDAULAM,'dd/MM/yyyy') ,NGAYKETTHUCLAMM = FORMAT(NGAYKETTHUCLAM,'dd/MM/yyyy')
FROM CHITIETLAMVIECKHUCHUATRI AS CTLV
GO
/****** Object:  View [dbo].[GET_NURSE_NOT_LEADER]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_NURSE_NOT_LEADER]
AS
SELECT MANV, HOTEN = HO+' '+TEN, PHAI, DIENTHOAI,NGHIEPVU FROM 
(SELECT MANV, HO,TEN,PHAI,DIENTHOAI FROM NHANVIEN WHERE MANV NOT IN (SELECT MAYT FROM KHUCHUATRI WHERE MAYT IS NOT NULL)) AS NV,YTA
WHERE NV.MANV = YTA.MAYT
GO
/****** Object:  View [dbo].[GET_STAFF_REGISTER_WORKING_HOUR]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_STAFF_REGISTER_WORKING_HOUR]
AS
SELECT MANV, HOTEN = HO+' '+TEN, DIENTHOAI, TENCV = (SELECT TENCV FROM CHUCVU WHERE NHANVIEN.MACV = MACV)  FROM NHANVIEN
GO
/****** Object:  View [dbo].[GET_CURE_AREA]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_CURE_AREA]
AS
SELECT DANHDINHKHU, TEN, TENYT = (SELECT HO+' '+TEN FROM NHANVIEN WHERE MANV = KHUCHUATRI.MAYT) FROM KHUCHUATRI
GO
/****** Object:  View [dbo].[GET_FULL_DOCTORS]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_FULL_DOCTORS]
AS
SELECT MANV, HO, TEN, PHAI, DIACHI, DIENTHOAI, CCCD, TRINHDO FROM NHANVIEN,BACSI
WHERE NHANVIEN.MANV = BACSI.MABS
GO
/****** Object:  View [dbo].[GET_FULL_NURSE]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_FULL_NURSE]
AS
SELECT MANV, HO, TEN, PHAI, DIACHI, DIENTHOAI, CCCD, NGHIEPVU FROM NHANVIEN,YTA
WHERE NHANVIEN.MANV = YTA.MAYT
GO
/****** Object:  View [dbo].[GET_PATIENT_HAVE_STALK_DOCTOR]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_PATIENT_HAVE_STALK_DOCTOR]
AS
SELECT MABN, HO, TEN, NGAYSINH,LOAI, BACSITHEODOI = (SELECT HO+' '+TEN FROM NHANVIEN WHERE NHANVIEN.MANV = BENHNHAN.MABSTD), 
BACSITIEPNHAN = (SELECT HO +' '+TEN FROM NHANVIEN WHERE NHANVIEN.MANV = BENHNHAN.MABSTN),MABSTD FROM BENHNHAN WHERE MABSTD IS NOT NULL
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](5) NOT NULL,
	[SOPHONG] [int] NOT NULL,
	[DANHDINHKHU] [int] NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_ROOMS]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_ROOMS]
AS
SELECT MAPHONG, SOPHONG, TENKHU = (SELECT TEN FROM KHUCHUATRI WHERE PHONG.DANHDINHKHU = DANHDINHKHU),DANHDINHKHU FROM PHONG
GO
/****** Object:  View [dbo].[GET_AREA_NOT_HAVE_LEADER]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_AREA_NOT_HAVE_LEADER]
AS
SELECT DANHDINHKHU FROM KHUCHUATRI AS KCT
WHERE DANHDINHKHU NOT IN (SELECT DANHDINHKHU FROM CHITIETLAMVIECKHUCHUATRI WHERE MANV IN (SELECT MANV FROM NHANVIEN WHERE MACV = 'YTT') AND NGAYKETTHUCLAM IS NULL)
GO
/****** Object:  View [dbo].[GET_DOCTORS]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GET_DOCTORS]
AS
SELECT MANV, HOTEN = HO+' '+TEN FROM NHANVIEN WHERE MANV IN (SELECT MABS FROM BACSI)
GO
/****** Object:  View [dbo].[GET_SESSIONS]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_SESSIONS]
AS
SELECT 
  session_id
FROM sys.dm_exec_sessions
WHERE database_id = DB_ID('QLBV') AND session_id !=@@SPID
GO
/****** Object:  View [dbo].[GET_WEEK]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_WEEK]
AS
SELECT ID_TUAN, INFOR = N'Tuần số '+CAST(TUAN_SO AS nvarchar(10)) +': '+CONVERT(VARCHAR(10), NGAYBATDAU, 103)+'-'+CONVERT(VARCHAR(10), NGAYKETTHUC, 103)  FROM TUAN WITH(INDEX = IX_NGAYBATDAUGIAMDAN)
GO
/****** Object:  Table [dbo].[CHITIETSUDUNGVT]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSUDUNGVT](
	[ID_CTCT] [int] NOT NULL,
	[MAVT] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
 CONSTRAINT [PK_CHITIETSUDUNGVT] PRIMARY KEY CLUSTERED 
(
	[ID_CTCT] ASC,
	[MAVT] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIUONG]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIUONG](
	[MAGIUONG] [char](5) NOT NULL,
	[SOGIUONG] [int] NOT NULL,
	[MAPHONG] [char](5) NOT NULL,
 CONSTRAINT [PK_GIUONG] PRIMARY KEY CLUSTERED 
(
	[MAGIUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nchar](10) NOT NULL,
	[TENVT] [nvarchar](50) NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BACSI] ([MABS], [TRINHDO]) VALUES (N'NV001     ', N'GIÁO SƯ')
INSERT [dbo].[BACSI] ([MABS], [TRINHDO]) VALUES (N'NV0012    ', N'PHÓ GIÁO SƯ')
INSERT [dbo].[BACSI] ([MABS], [TRINHDO]) VALUES (N'NV002     ', N'TIẾN SĨ')
GO
INSERT [dbo].[BENHNHAN] ([MABN], [HO], [TEN], [NGAYSINH], [LOAI], [MABSTD], [MABSTN]) VALUES (N'BN001     ', N'NGUYỄN THỊ', N'THÚY', CAST(N'2010-07-14' AS Date), N'Nội trú', N'NV0012    ', N'NV001     ')
INSERT [dbo].[BENHNHAN] ([MABN], [HO], [TEN], [NGAYSINH], [LOAI], [MABSTD], [MABSTN]) VALUES (N'BN002     ', N'BÙI XUÂN', N'NAM', CAST(N'2000-12-02' AS Date), N'Nội trú', NULL, N'NV002     ')
INSERT [dbo].[BENHNHAN] ([MABN], [HO], [TEN], [NGAYSINH], [LOAI], [MABSTD], [MABSTN]) VALUES (N'BN003     ', N'NGUYỄN QUANG', N'NGHĨA', CAST(N'2014-06-17' AS Date), N'Ngoại trú', N'NV001     ', N'NV0012    ')
GO
SET IDENTITY_INSERT [dbo].[CHITIETCHUATRI] ON 

INSERT [dbo].[CHITIETCHUATRI] ([ID_CTCT], [MABS], [MABN], [MALOAI_CT], [THOIGIAN], [KETQUA]) VALUES (1007, N'NV001     ', N'BN002     ', N'L001 ', CAST(N'2023-05-25T08:52:26.000' AS DateTime), N'Rối loạn tiểu tiện cấp độ 2')
INSERT [dbo].[CHITIETCHUATRI] ([ID_CTCT], [MABS], [MABN], [MALOAI_CT], [THOIGIAN], [KETQUA]) VALUES (1009, N'NV002     ', N'BN003     ', N'L004 ', CAST(N'2023-05-23T09:05:35.000' AS DateTime), N'Chuyển biến tốt')
INSERT [dbo].[CHITIETCHUATRI] ([ID_CTCT], [MABS], [MABN], [MALOAI_CT], [THOIGIAN], [KETQUA]) VALUES (1010, N'NV001     ', N'BN001     ', N'L001 ', CAST(N'2023-05-23T09:11:46.000' AS DateTime), N'Bất ổn')
SET IDENTITY_INSERT [dbo].[CHITIETCHUATRI] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETLAMVIECKHUCHUATRI] ON 

INSERT [dbo].[CHITIETLAMVIECKHUCHUATRI] ([ID_CTLV], [DANHDINHKHU], [MANV], [NGAYBATDAULAM], [NGAYKETTHUCLAM]) VALUES (2, 2, N'NV001     ', CAST(N'2023-05-09' AS Date), CAST(N'2023-05-23' AS Date))
INSERT [dbo].[CHITIETLAMVIECKHUCHUATRI] ([ID_CTLV], [DANHDINHKHU], [MANV], [NGAYBATDAULAM], [NGAYKETTHUCLAM]) VALUES (3, 3, N'NV002     ', CAST(N'2023-05-09' AS Date), NULL)
INSERT [dbo].[CHITIETLAMVIECKHUCHUATRI] ([ID_CTLV], [DANHDINHKHU], [MANV], [NGAYBATDAULAM], [NGAYKETTHUCLAM]) VALUES (5, 2, N'NV004     ', CAST(N'2023-05-09' AS Date), CAST(N'2023-06-03' AS Date))
SET IDENTITY_INSERT [dbo].[CHITIETLAMVIECKHUCHUATRI] OFF
GO
INSERT [dbo].[CHITIETO] ([MABN], [MAGIUONG], [THOIGIANBATDAU], [THOIGIANKETTHUC]) VALUES (N'BN001     ', N'G002 ', CAST(N'2023-05-23T21:30:00.000' AS DateTime), CAST(N'2023-06-04T00:04:00.000' AS DateTime))
INSERT [dbo].[CHITIETO] ([MABN], [MAGIUONG], [THOIGIANBATDAU], [THOIGIANKETTHUC]) VALUES (N'BN002     ', N'G055 ', CAST(N'2023-06-07T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CHITIETO] ([MABN], [MAGIUONG], [THOIGIANBATDAU], [THOIGIANKETTHUC]) VALUES (N'BN004     ', N'MG200', CAST(N'2023-06-07T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[CHITIETSUDUNGVT] ([ID_CTCT], [MAVT], [SOLUONG], [THOIGIAN]) VALUES (1007, N'VT0010    ', 1, CAST(N'2023-05-23T22:58:00.000' AS DateTime))
INSERT [dbo].[CHITIETSUDUNGVT] ([ID_CTCT], [MAVT], [SOLUONG], [THOIGIAN]) VALUES (1007, N'VT0010    ', 2, CAST(N'2023-05-23T22:59:00.000' AS DateTime))
INSERT [dbo].[CHITIETSUDUNGVT] ([ID_CTCT], [MAVT], [SOLUONG], [THOIGIAN]) VALUES (1007, N'VT0010    ', 5, CAST(N'2023-05-23T23:21:00.000' AS DateTime))
GO
INSERT [dbo].[GIUONG] ([MAGIUONG], [SOGIUONG], [MAPHONG]) VALUES (N'G001 ', 1, N'P001 ')
INSERT [dbo].[GIUONG] ([MAGIUONG], [SOGIUONG], [MAPHONG]) VALUES (N'G005 ', 1, N'P002 ')
INSERT [dbo].[GIUONG] ([MAGIUONG], [SOGIUONG], [MAPHONG]) VALUES (N'MG200', 1, N'P013 ')
GO
SET IDENTITY_INSERT [dbo].[KHUCHUATRI] ON 

INSERT [dbo].[KHUCHUATRI] ([DANHDINHKHU], [TEN], [MAYT]) VALUES (1, N'Hồi sức ', N'NV0075    ')
INSERT [dbo].[KHUCHUATRI] ([DANHDINHKHU], [TEN], [MAYT]) VALUES (2, N'Cấp cứu', N'NV0080    ')
INSERT [dbo].[KHUCHUATRI] ([DANHDINHKHU], [TEN], [MAYT]) VALUES (3, N'Điều trị đa năng', N'NV006     ')
SET IDENTITY_INSERT [dbo].[KHUCHUATRI] OFF
GO
INSERT [dbo].[LOAICHUATRI] ([MALOAI_CT], [TENLOAI]) VALUES (N'L001 ', N'Điều trị biến chứng')
INSERT [dbo].[LOAICHUATRI] ([MALOAI_CT], [TENLOAI]) VALUES (N'L005 ', N'Điều trị biến chứng xấu')
INSERT [dbo].[LOAICHUATRI] ([MALOAI_CT], [TENLOAI]) VALUES (N'L008 ', N'Điều trị cảm, cúm')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [DIENTHOAI], [CCCD]) VALUES (N'NV001     ', N'NGUYỄN HỮU', N'DŨNG', N'Nam', N'NHA TRANG, KHÁNH HÒA,V', N'0866156874', N'051231231231')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [DIENTHOAI], [CCCD]) VALUES (N'NV0012    ', N'BÙI VĂN', N'THỤ', N'Nam', N'', N'0923423423', N'123234242312')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [DIENTHOAI], [CCCD]) VALUES (N'NV002     ', N'HỒ ĐỨC', N'NHÂN', N'Nam', N'NGHỆ AN', N'0971572437', N'078927123453')
GO
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [DANHDINHKHU]) VALUES (N'P035 ', 1, 1)
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [DANHDINHKHU]) VALUES (N'P001 ', 1, 3)
INSERT [dbo].[PHONG] ([MAPHONG], [SOPHONG], [DANHDINHKHU]) VALUES (N'P026 ', 1, 1003)
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DONGIA]) VALUES (N'VT0010    ', N'Thuốc A', 1000.0000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DONGIA]) VALUES (N'VT002     ', N'Thuốc BC', 2000.0000)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DONGIA]) VALUES (N'VT003     ', N'Thuốc C', 3000.0000)
GO
INSERT [dbo].[YTA] ([MAYT], [NGHIEPVU]) VALUES (N'NV006     ', N'QUẢN TRỊ')
INSERT [dbo].[YTA] ([MAYT], [NGHIEPVU]) VALUES (N'NV007     ', N'QUẢN TRỊ')
INSERT [dbo].[YTA] ([MAYT], [NGHIEPVU]) VALUES (N'NV0075    ', N'CHĂM SÓC')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MALOAI_MABN_MANV]    Script Date: 7/10/2023 1:50:02 PM ******/
ALTER TABLE [dbo].[CHITIETCHUATRI] ADD  CONSTRAINT [UK_MALOAI_MABN_MANV] UNIQUE NONCLUSTERED 
(
	[MABN] ASC,
	[THOIGIAN] ASC,
	[MALOAI_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CHITIETLAMVIECKHUCHUATRI]    Script Date: 7/10/2023 1:50:02 PM ******/
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI] ADD  CONSTRAINT [UK_CHITIETLAMVIECKHUCHUATRI] UNIQUE NONCLUSTERED 
(
	[DANHDINHKHU] ASC,
	[MANV] ASC,
	[NGAYBATDAULAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SOGIUONG]    Script Date: 7/10/2023 1:50:02 PM ******/
ALTER TABLE [dbo].[GIUONG] ADD  CONSTRAINT [UK_SOGIUONG] UNIQUE NONCLUSTERED 
(
	[SOGIUONG] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETCHUATRI] ADD  CONSTRAINT [DF_CHITIETCHUATRI_THOIGIAN]  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI] ADD  CONSTRAINT [DF_CHITIETLAMVIECKHUCHUATRI_NGAYBATDAULAM]  DEFAULT (getdate()) FOR [NGAYBATDAULAM]
GO
ALTER TABLE [dbo].[CHITIETO] ADD  CONSTRAINT [DF_CHITIETO_THOIGIANBATDAU]  DEFAULT (getdate()) FOR [THOIGIANBATDAU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT ((0)) FOR [PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_DIACHI]  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [FK_BACSI_NHANVIEN] FOREIGN KEY([MABS])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [FK_BACSI_NHANVIEN]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_BACSI] FOREIGN KEY([MABSTD])
REFERENCES [dbo].[BACSI] ([MABS])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_BACSI]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_BACSI1] FOREIGN KEY([MABSTN])
REFERENCES [dbo].[BACSI] ([MABS])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_BACSI1]
GO
ALTER TABLE [dbo].[CHITIETCHUATRI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCHUATRI_BACSI] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSI] ([MABS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETCHUATRI] CHECK CONSTRAINT [FK_CHITIETCHUATRI_BACSI]
GO
ALTER TABLE [dbo].[CHITIETCHUATRI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCHUATRI_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETCHUATRI] CHECK CONSTRAINT [FK_CHITIETCHUATRI_BENHNHAN]
GO
ALTER TABLE [dbo].[CHITIETCHUATRI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCHUATRI_LOAICHUATRI] FOREIGN KEY([MALOAI_CT])
REFERENCES [dbo].[LOAICHUATRI] ([MALOAI_CT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETCHUATRI] CHECK CONSTRAINT [FK_CHITIETCHUATRI_LOAICHUATRI]
GO
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLAMVIECKHUCHUATRI_KHUCHUATRI] FOREIGN KEY([DANHDINHKHU])
REFERENCES [dbo].[KHUCHUATRI] ([DANHDINHKHU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI] CHECK CONSTRAINT [FK_CHITIETLAMVIECKHUCHUATRI_KHUCHUATRI]
GO
ALTER TABLE [dbo].[CHITIETO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETO_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETO] CHECK CONSTRAINT [FK_CHITIETO_BENHNHAN]
GO
ALTER TABLE [dbo].[CHITIETO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETO_GIUONG] FOREIGN KEY([MAGIUONG])
REFERENCES [dbo].[GIUONG] ([MAGIUONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETO] CHECK CONSTRAINT [FK_CHITIETO_GIUONG]
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUDUNGVT_CHITIETCHUATRI] FOREIGN KEY([ID_CTCT])
REFERENCES [dbo].[CHITIETCHUATRI] ([ID_CTCT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT] CHECK CONSTRAINT [FK_CHITIETSUDUNGVT_CHITIETCHUATRI]
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUDUNGVT_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT] CHECK CONSTRAINT [FK_CHITIETSUDUNGVT_VATTU]
GO
ALTER TABLE [dbo].[GIUONG]  WITH CHECK ADD  CONSTRAINT [FK_GIUONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIUONG] CHECK CONSTRAINT [FK_GIUONG_PHONG]
GO
ALTER TABLE [dbo].[KHUCHUATRI]  WITH CHECK ADD  CONSTRAINT [FK_KHUCHUATRI_YTA] FOREIGN KEY([MAYT])
REFERENCES [dbo].[YTA] ([MAYT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHUCHUATRI] CHECK CONSTRAINT [FK_KHUCHUATRI_YTA]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_KHUCHUATRI] FOREIGN KEY([DANHDINHKHU])
REFERENCES [dbo].[KHUCHUATRI] ([DANHDINHKHU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_KHUCHUATRI]
GO
ALTER TABLE [dbo].[YTA]  WITH CHECK ADD  CONSTRAINT [FK_YTA_NHANVIEN] FOREIGN KEY([MAYT])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[YTA] CHECK CONSTRAINT [FK_YTA_NHANVIEN]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [CK_LOAI] CHECK  (([LOAI]=N'Ngoại trú' OR [LOAI]=N'Nội trú'))
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [CK_LOAI]
GO
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI]  WITH CHECK ADD  CONSTRAINT [CK_NGAYBATDAULAM_NGAYKETTHUCLAM] CHECK  (([NGAYBATDAULAM]<[NGAYKETTHUCLAM]))
GO
ALTER TABLE [dbo].[CHITIETLAMVIECKHUCHUATRI] CHECK CONSTRAINT [CK_NGAYBATDAULAM_NGAYKETTHUCLAM]
GO
ALTER TABLE [dbo].[CHITIETO]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIANBATDAU]<[THOIGIANKETTHUC]))
GO
ALTER TABLE [dbo].[CHITIETO] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETSUDUNGVT] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[GIUONG]  WITH CHECK ADD  CONSTRAINT [CK_SOGIUONG] CHECK  (([SOGIUONG]>(0)))
GO
ALTER TABLE [dbo].[GIUONG] CHECK CONSTRAINT [CK_SOGIUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_SOPHONG] CHECK  (([SOPHONG]>(0)))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_SOPHONG]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [CK_DONGIA]
GO
/****** Object:  StoredProcedure [dbo].[BACK_UP_DATABASE]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BACK_UP_DATABASE]
@LOCATION NVARCHAR(1000)
AS
BEGIN
	BACKUP DATABASE QLBV
	TO DISK = @LOCATION
	WITH FORMAT, INIT;
END
GO
/****** Object:  StoredProcedure [dbo].[CAN_REGISTER_WITH_DAY]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAN_REGISTER_WITH_DAY]
@MANV NCHAR(10),
@NGAYBATDAULAM NVARCHAR(10),
@ID INT
AS
BEGIN
	SET DATEFORMAT DMY
	IF EXISTS(SELECT * FROM CHITIETLAMVIECKHUCHUATRI WHERE ID_CTLV !=@ID AND @MANV = MANV AND NGAYKETTHUCLAM IS NOT NULL AND CAST(@NGAYBATDAULAM AS DATE) BETWEEN NGAYBATDAULAM AND NGAYKETTHUCLAM)
		RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[CAN_REGISTER_WORKING_AREA_DETAIL]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAN_REGISTER_WORKING_AREA_DETAIL]
@MANV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT * FROM CHITIETLAMVIECKHUCHUATRI WHERE @MANV = MANV AND NGAYKETTHUCLAM IS NULL)
		RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[CHANGE_PASSWORD]    Script Date: 7/10/2023 1:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHANGE_PASSWORD]
@LOGIN_NAME NVARCHAR(40),
@PASSWORD NVARCHAR(40)
AS
BEGIN
		--run it second
		DECLARE @SQL NVARCHAR(MAX);
		-- Construct dynamic SQL to change the password for the login
		SET @SQL = N'ALTER LOGIN ' + QUOTENAME(@LOGIN_NAME) + N' WITH PASSWORD = ' + QUOTENAME(@PASSWORD, '''');
    
		-- Execute the dynamic SQL
		EXEC sp_executesql @SQL;

END
GO
/****** Object:  StoredProcedure [dbo].[CHECK_CAN_DELETE_WORKING_DETAIL]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_CAN_DELETE_WORKING_DETAIL]
@ID_CTLV INT
AS
BEGIN
	IF EXISTS(SELECT * FROM CHITIETLAMVIECKHUCHUATRI WHERE ID_CTLV = @ID_CTLV AND NGAYKETTHUCLAM IS NOT NULL AND NGAYKETTHUCLAM <CAST(GETDATE() AS DATE))
		RETURN 0
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[CHECK_TIME_IS_VALID]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_TIME_IS_VALID]
@MABN NCHAR(10),
@THOIGIANBATDAUSTR nvarchar(25),
@THOIGIANKETTHUCSTR nvarchar(25)
AS
BEGIN
	DECLARE @THOIGIANBATDAU DATETIME, @THOIGIANKETTHUC DATETIME
	SET @THOIGIANBATDAU = CONVERT(datetime, @THOIGIANBATDAUSTR, 105)
	SET @THOIGIANKETTHUC = CONVERT(datetime, @THOIGIANKETTHUCSTR, 105)
	IF EXISTS(SELECT * FROM CHITIETO WHERE @MABN = MABN AND THOIGIANKETTHUC IS NULL)
		RETURN 1
	IF @THOIGIANKETTHUC IS NULL
	BEGIN
		IF EXISTS(SELECT * FROM CHITIETO WITH(INDEX = IX_THOIGIANBATDAU) WHERE @MABN = MABN AND @THOIGIANBATDAU BETWEEN THOIGIANBATDAU AND THOIGIANKETTHUC)
			RETURN 2
		ELSE 
			RETURN 0
	END
	IF EXISTS(SELECT * FROM CHITIETO WITH(INDEX = IX_THOIGIANBATDAU) WHERE @MABN = MABN AND (THOIGIANBATDAU BETWEEN @THOIGIANBATDAU AND @THOIGIANKETTHUC) OR (THOIGIANKETTHUC BETWEEN @THOIGIANBATDAU AND @THOIGIANKETTHUC))
		RETURN 2
	ELSE RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[GET_BEDS_BASE_ON_ROOM]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_BEDS_BASE_ON_ROOM]
@MAPHONG CHAR(5)
AS
BEGIN
	SELECT * FROM GIUONG WHERE MAPHONG = @MAPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[GET_LOGIN_INFO]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_LOGIN_INFO]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[GET_MEDICINE_EQUIPMENT_DETAIL]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_MEDICINE_EQUIPMENT_DETAIL]
@ID_CTCT INT
AS
BEGIN
	SELECT ID_CTCT, MAVT, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT = CT.MAVT), SOLUONG,THOIGIAN FROM CHITIETSUDUNGVT AS CT WITH(INDEX = IX_THOIGIAN)
	WHERE ID_CTCT = @ID_CTCT
END
GO
/****** Object:  StoredProcedure [dbo].[LAY_LOGINNAM_FROM_USERNAME]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LAY_LOGINNAM_FROM_USERNAME]
@USERNAME NCHAR(8)
AS
	BEGIN
		
		DECLARE @siD NVARCHAR(100)
		SELECT @siD =  sid FROM sys.sysusers 
		WHERE name = @USERNAME
		select name from SYS.syslogins where sid = @siD
	END
GO
/****** Object:  StoredProcedure [dbo].[MERGE_EQUIPMENT_DETAIL]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MERGE_EQUIPMENT_DETAIL]
@ID_CTCT INT,
@MAVT NCHAR(10),
@SOLUONG INT,
@TYPE BIT,
@THOIGIAN NVARCHAR(20)
AS
BEGIN
	DECLARE @T DATETIME
	SET @T = CONVERT(DATETIME, @THOIGIAN,105)
	IF @TYPE=1
	BEGIN
		UPDATE CHITIETSUDUNGVT
		SET SOLUONG = @SOLUONG
		WHERE ID_CTCT = @ID_CTCT AND MAVT = @MAVT AND @T = THOIGIAN
	END
	ELSE
	BEGIN
		INSERT INTO CHITIETSUDUNGVT(ID_CTCT,MAVT,SOLUONG,THOIGIAN) VALUES(@ID_CTCT,@MAVT,@SOLUONG,@T)
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[RESTORE_DATABASE]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RESTORE_DATABASE]
@LOCATION NVARCHAR(1000)
AS
BEGIN
	RESTORE DATABASE QLBV
	FROM DISK = @LOCATION
	WITH REPLACE, RECOVERY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BENHNHAN_KHONG_THEO_DOI]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BENHNHAN_KHONG_THEO_DOI]
AS
	BEGIN
		SELECT MABN, HO, TEN, NGAYSINH, LOAI, MABSTD  FROM BENHNHAN WHERE MABSTD IS NULL
	END

GO
/****** Object:  StoredProcedure [dbo].[SP_CAN_DELETE_BED]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAN_DELETE_BED]
@MAGIUONG CHAR(5)
AS
BEGIN
	IF EXISTS(SELECT * FROM CHITIETO WHERE MAGIUONG = @MAGIUONG)
		RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAN_REGISTER_WORKING_HOUR]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAN_REGISTER_WORKING_HOUR]
@ID_CTLV INT,
@ID_TUAN INT
AS
BEGIN
	IF EXISTS(SELECT * FROM CHITIETGIOLAMVIEC WHERE ID_CTLV = @ID_CTLV AND ID_TUAN = @ID_TUAN)
		RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_CAN_DELETE_CURE_DETAIL]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_CAN_DELETE_CURE_DETAIL]
@MABN NCHAR(10),
@MALOAI NCHAR(5),
@THOIGIANSTR NVARCHAR(25)
AS
BEGIN
	DECLARE @THOIGIAN DATETIME
	SET @THOIGIAN = CONVERT(datetime, @THOIGIANSTR, 105)
	IF EXISTS(SELECT * FROM CHITIETSUDUNGVT WHERE ID_CTCT IN (SELECT ID_CTCT FROM CHITIETCHUATRI WITH (INDEX = IX_THOIGIANCHUATRI) WHERE @THOIGIAN = THOIGIAN AND @MABN = MABN AND @MALOAI = MALOAI_CT))
		RETURN 0
	ELSE RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_danh_sach_login_server]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_danh_sach_login_server]
@loginname nchar(8)
AS
	BEGIN
		if EXISTS(SELECT * from sys.sql_logins where name = @loginname)
			return 1;
		else
			return 0;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_INFOR_DOCTOR]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_INFOR_DOCTOR]
@MANV NCHAR(10)
AS
BEGIN
	
	IF dbo.HAS_ACCOUNT(@MANV) = 1
	BEGIN
		RAISERROR('Lỗi, bác sĩ này đã có tài khoản đăng nhập. Không thể xóa bác sĩ này',16,1)
	END
	ELSE
	BEGIN
		DECLARE @errorMessage NVARCHAR(4000)
		BEGIN TRANSACTION;
		BEGIN TRY
			DELETE BACSI WHERE @MANV = MABS
			DELETE NHANVIEN WHERE @MANV = MANV
			COMMIT;
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			RAISERROR(@errorMessage,16,1)
			ROLLBACK;
		END CATCH;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_INFOR_NURSE]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_INFOR_NURSE]
@MANV NCHAR(10)
AS
BEGIN
	IF dbo.HAS_ACCOUNT(@MANV) = 1
	BEGIN
		RAISERROR('Lỗi, y tá này đã có tài khoản đăng nhập. Không thể xóa bác sĩ này',16,1)
	END
	ELSE
	BEGIN
		DECLARE @errorMessage NVARCHAR(4000)
		BEGIN TRANSACTION;
		BEGIN TRY
			DELETE YTA WHERE @MANV = MAYT
			DELETE NHANVIEN WHERE @MANV = MANV
			COMMIT;
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			RAISERROR(@errorMessage,16,1)
			ROLLBACK;
		END CATCH;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_NHANVIEN_CO_TAI_KHOAN]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_NHANVIEN_CO_TAI_KHOAN]
@manv nchar(8),
@ROLENAME NCHAR(4)
AS
BEGIN
	IF @ROLENAME = N'Boss'
	BEGIN
				SELECT MANV, HO, TEN ,CONGVIEC, QUYEN = T.name,
			TENLOGIN = (SELECT sp.name FROM sys.server_principals AS sp WHERE sp.sid = GVS.sid) 
		FROM (SELECT MANV,HO, TEN,CONGVIEC, name, principal_id,sid FROM
		(SELECT MANV, HO, TEN,CONGVIEC =  CASE
											WHEN MANV IN (SELECT MABS FROM BACSI) THEN N'Bác sĩ'
											ELSE N'Y tá'
											END FROM NHANVIEN WHERE MANV <> @manv) AS GV,
		(SELECT principal_id,name,sid FROM sys.database_principals WHERE type = 'S') AS S
		WHERE MANV = name) AS GVS,
		(SELECT R.name,M.member_principal_id FROM
		(SELECT name,principal_id FROM sys.database_principals
		WHERE name IN ('Boss')) AS R, sys.database_role_members AS M
		WHERE R.principal_id = M.role_principal_id) AS T
		WHERE GVS.principal_id = T.member_principal_id
	END
	ELSE
	BEGIN
				SELECT MANV, HO, TEN ,CONGVIEC, QUYEN = T.name,
			TENLOGIN = (SELECT sp.name FROM sys.server_principals AS sp WHERE sp.sid = GVS.sid) 
		FROM (SELECT MANV,HO, TEN,CONGVIEC, name, principal_id,sid FROM
		(SELECT MANV, HO, TEN,CONGVIEC =  CASE
											WHEN MANV IN (SELECT MABS FROM BACSI) THEN N'Bác sĩ'
											ELSE N'Y tá'
											END FROM NHANVIEN WHERE MANV <> @manv) AS GV,
		(SELECT principal_id,name,sid FROM sys.database_principals WHERE type = 'S') AS S
		WHERE MANV = name) AS GVS,
		(SELECT R.name,M.member_principal_id FROM
		(SELECT name,principal_id FROM sys.database_principals
		WHERE name IN ('BacSi','BenhVien','YTa')) AS R, sys.database_role_members AS M
		WHERE R.principal_id = M.role_principal_id) AS T
		WHERE GVS.principal_id = T.member_principal_id
	END
END

	

GO
/****** Object:  StoredProcedure [dbo].[SP_DS_NHANVIEN_KHONG_TAI_KHOAN]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_NHANVIEN_KHONG_TAI_KHOAN]
@TYPE NVARCHAR(2)
AS
BEGIN
	IF @TYPE = N'BS'
	BEGIN
		SELECT MANV, HO, TEN FROM NHANVIEN WHERE MANV not IN (SELECT name FROM sys.database_principals) AND MANV IN (SELECT MABS FROM BACSI)
	END
	IF @TYPE = N'YT'
	BEGIN
		SELECT MANV, HO, TEN FROM NHANVIEN WHERE MANV not IN (SELECT name FROM sys.database_principals) AND MANV IN (SELECT MAYT FROM YTA)
	END
	ELSE
	BEGIN
		SELECT MANV, HO, TEN FROM NHANVIEN WHERE MANV not IN (SELECT name FROM sys.database_principals)
	END
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DETAIL_LIVING_ROOM]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DETAIL_LIVING_ROOM]
@DINHDANH INT

AS
BEGIN
		SELECT MABN, TENBN = (SELECT HO+' '+TEN FROM BENHNHAN WHERE BENHNHAN.MABN = CT.MABN),SOGIUONG = (SELECT SOGIUONG FROM GIUONG WHERE GIUONG.MAGIUONG = CT.MAGIUONG) ,
		SOPHONG = (SELECT SOPHONG FROM PHONG WHERE MAPHONG IN (SELECT MAPHONG FROM GIUONG WHERE CT.MAGIUONG = MAGIUONG)),
		THOIGIANBATDAU, THOIGIANKETTHUC 
		FROM CHITIETO AS CT
		WHERE MAGIUONG IN (SELECT MAGIUONG FROM GIUONG WHERE MAPHONG IN (SELECT MAPHONG FROM PHONG WHERE @DINHDANH = DANHDINHKHU))
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_STAFF_REGISTER_AREA]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_STAFF_REGISTER_AREA]
@DANHDINHKHU INT
AS
BEGIN
	SELECT NV.MANV, HOTEN, DIENTHOAI, TENCV, ID_CTLV FROM
	(SELECT MANV, HOTEN = HO +' '+TEN, DIENTHOAI, TENCV = (SELECT TENCV FROM CHUCVU WHERE NHANVIEN.MACV = MACV ) FROM NHANVIEN) AS NV,
	(SELECT MANV, ID_CTLV FROM CHITIETLAMVIECKHUCHUATRI WHERE DANHDINHKHU = @DANHDINHKHU AND NGAYKETTHUCLAM IS NULL) AS CTLV
	WHERE NV.MANV = CTLV.MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_VACANT_ROOM]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_VACANT_ROOM]
@MAPHONG CHAR(5)
AS
BEGIN
	SELECT MAGIUONG,SOGIUONG FROM GIUONG
	WHERE MAPHONG = @MAPHONG AND MAGIUONG NOT IN (SELECT MAGIUONG FROM CHITIETO WHERE THOIGIANKETTHUC IS NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_WORKING_HOUR_IN_AREA]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_WORKING_HOUR_IN_AREA]
@DANHDINHKHU INT,
@ID_TUAN INT
AS
BEGIN
	SELECT CTLV.ID_CTLV,MANV, HOTEN, THOIGIANLAMVIEC FROM
	(SELECT ID_CTLV, THOIGIANLAMVIEC FROM CHITIETGIOLAMVIEC WHERE ID_TUAN = @ID_TUAN) AS CTT, 
	(SELECT ID_CTLV, MANV, HOTEN = (SELECT HO+' '+TEN FROM NHANVIEN WHERE CT.MANV = MANV) FROM CHITIETLAMVIECKHUCHUATRI AS CT WHERE @DANHDINHKHU = DANHDINHKHU) AS CTLV
	WHERE CTT.ID_CTLV = CTLV.ID_CTLV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaGiuong]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KiemTraMaGiuong]
@giuong char(5)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM GIUONG WHERE MAGIUONG = @giuong)
		RETURN 1;
	ELSE 
		RETURN 0;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaPhong]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KiemTraMaPhong]
@phong char(5)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM PHONG WHERE MAPHONG = @phong)
		RETURN 1;
	ELSE 
		RETURN 0;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_GET_LIST_USING_EQUIPMENT]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_GET_LIST_USING_EQUIPMENT]
@MABN NCHAR(10)
AS
BEGIN
	SELECT TENVT, THOIGIAN, SOLUONG, TONGTIEN = SOLUONG * DONGIA FROM
	(SELECT THOIGIAN,SOLUONG,MAVT FROM (SELECT ID_CTCT FROM CHITIETCHUATRI WHERE MABN = @MABN) AS CTCT,
	CHITIETSUDUNGVT AS CTVT
	WHERE CTCT.ID_CTCT = CTVT.ID_CTCT) AS CT, VATTU
	WHERE CT.MAVT = VATTU.MAVT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_GET_WORKING_HOURS]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_GET_WORKING_HOURS]
@DANHDINHKHU INT,
@ID_TUAN INT
AS
BEGIN
	SELECT T.MANV, HOTEN = HO+' '+TEN, TENCV = (SELECT TENCV FROM CHUCVU WHERE NHANVIEN.MACV = MACV),THOIGIANLAMVIEC FROM NHANVIEN,
	(SELECT MANV,THOIGIANLAMVIEC FROM 
	(SELECT ID_CTLV,THOIGIANLAMVIEC FROM CHITIETGIOLAMVIEC WHERE ID_TUAN = @ID_TUAN) AS CTLV,
	(SELECT MANV,ID_CTLV FROM CHITIETLAMVIECKHUCHUATRI WHERE DANHDINHKHU = @DANHDINHKHU) AS CTKCT
	WHERE CTLV.ID_CTLV = CTKCT.ID_CTLV) AS T
	WHERE NHANVIEN.MANV = T.MANV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan1]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoTaiKhoan1]
    @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'QLBV'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RAISERROR ('Login name bị trùng', 16,1)
	 RETURN
  END 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RAISERROR ('Nhân viên dã có login name', 16,2)
       RETURN
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE = 'BenhVien' OR @ROLE = 'Boss'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE_INFOR_DOCTOR]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_WRITE_INFOR_DOCTOR]
@MANV NCHAR(10),
@HO NVARCHAR(50),
@TEN NVARCHAR(30),
@PHAI NVARCHAR(3),
@DIACHI NVARCHAR(75),
@DIENTHOAI CHAR(10),
@CCCD CHAR(12),
@TRINHDO NVARCHAR(50),
@OLDID NCHAR(10)
AS
BEGIN
	DECLARE @errorMessage NVARCHAR(4000)
	IF @OLDID IS NOT NULL
	BEGIN
		BEGIN TRANSACTION;
		BEGIN TRY
			IF dbo.HAS_ACCOUNT(@OLDID) = 1
			BEGIN
					-- Your SQL statements
				UPDATE NHANVIEN
				SET HO = @HO,
				TEN = @TEN,
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI,
				CCCD = @CCCD
				WHERE MANV = @OLDID
			
				UPDATE BACSI
				SET TRINHDO = @TRINHDO
				WHERE MABS = @OLDID
				COMMIT;
			END
			ELSE
			BEGIN
					-- Your SQL statements
				UPDATE NHANVIEN
				SET MANV = @MANV,
				HO = @HO,
				TEN = @TEN,
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI,
				CCCD = @CCCD
				WHERE MANV = @OLDID
			
				UPDATE BACSI
				SET MABS  =@MANV,
				TRINHDO = @TRINHDO
				WHERE MABS = @OLDID
				COMMIT;
			END
		
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			RAISERROR(@errorMessage,16,1)
			ROLLBACK;
		END CATCH;
	END
	ELSE
	BEGIN
		BEGIN TRANSACTION;
		BEGIN TRY
			-- Your SQL statements
			INSERT INTO NHANVIEN (MANV,HO,TEN,PHAI,DIACHI,DIENTHOAI,CCCD) 
			VALUES (@MANV,@HO,@TEN,@PHAI,@DIACHI,@DIENTHOAI,@CCCD);
			
			INSERT INTO BACSI (MABS, TRINHDO)
			VALUES (@MANV,@TRINHDO)
			COMMIT;
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			RAISERROR(@errorMessage,16,1)
			ROLLBACK;
		END CATCH;

	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE_INFOR_NURSE]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_WRITE_INFOR_NURSE]
@MANV NCHAR(10),
@HO NVARCHAR(50),
@TEN NVARCHAR(30),
@PHAI NVARCHAR(3),
@DIACHI NVARCHAR(75),
@DIENTHOAI CHAR(10),
@CCCD CHAR(12),
@NGHIEPVU NVARCHAR(50),
@OLDID NCHAR(10)
AS
BEGIN
	DECLARE @errorMessage NVARCHAR(4000)
	IF @OLDID IS NOT NULL
	BEGIN
		BEGIN TRANSACTION;
		BEGIN TRY
			IF dbo.HAS_ACCOUNT(@OLDID) = 1
			BEGIN
					-- Your SQL statements
				UPDATE NHANVIEN
				SET HO = @HO,
				TEN = @TEN,
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI,
				CCCD = @CCCD
				WHERE MANV = @OLDID
			
				UPDATE YTA
				SET NGHIEPVU = @NGHIEPVU
				WHERE MAYT = @OLDID
				COMMIT;
			END
			ELSE
			BEGIN
					-- Your SQL statements
				UPDATE NHANVIEN
				SET MANV = @MANV,
				HO = @HO,
				TEN = @TEN,
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI,
				CCCD = @CCCD
				WHERE MANV = @OLDID
			
				UPDATE YTA
				SET MAYT  =@MANV,
				NGHIEPVU = @NGHIEPVU
				WHERE MAYT = @OLDID
				COMMIT;
			END
		
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			--RAISERROR('Lỗi, không thể cập nhật y tá',16,1)
			RAISERROR(@errorMessage, 16, 1)
			ROLLBACK;
		END CATCH;
	END
	ELSE
	BEGIN
		BEGIN TRANSACTION;
		BEGIN TRY
			-- Your SQL statements
			INSERT INTO NHANVIEN (MANV,HO,TEN,PHAI,DIACHI,DIENTHOAI,CCCD) 
			VALUES (@MANV,@HO,@TEN,@PHAI,@DIACHI,@DIENTHOAI,@CCCD);
			
			INSERT INTO YTA (MAYT, NGHIEPVU)
			VALUES (@MANV,@NGHIEPVU)
			COMMIT;
		END TRY
		BEGIN CATCH
			SET @errorMessage = ERROR_MESSAGE()
			--RAISERROR('Lỗi, không thể thêm y tá',16,1)
			RAISERROR(@errorMessage, 16, 1)
			ROLLBACK;
		END CATCH;

	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOATAIKHOAN]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOATAIKHOAN]
@LGNAME nchar(8), @USRNAME nchar(8)
AS
	BEGIN
		EXEC SP_DROPUSER @USRNAME
		EXEC SP_DROPLOGIN @LGNAME
	END
GO
/****** Object:  StoredProcedure [dbo].[WORKING_DETAIL_AREA]    Script Date: 7/10/2023 1:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[WORKING_DETAIL_AREA]
@DANHDINHKHU INT
AS
BEGIN
	SELECT ID_CTLV, MANV,TENNV = (SELECT HO+' '+TEN FROM NHANVIEN WHERE CTLV.MANV = MANV),
		DANHDINHKHU,TENKHU = (SELECT TEN FROM KHUCHUATRI WHERE CTLV.DANHDINHKHU = DANHDINHKHU),
		NGAYBATDAULAMM =FORMAT(NGAYBATDAULAM,'dd/MM/yyyy') ,NGAYKETTHUCLAMM = FORMAT(NGAYKETTHUCLAM,'dd/MM/yyyy')
	FROM CHITIETLAMVIECKHUCHUATRI AS CTLV
	WHERE @DANHDINHKHU = DANHDINHKHU
END
GO
